$large: 995px;
$medHeight: 85px;
$minDistance: 10px;
$yellowGold: #ffd300;
$fullWidth: 100%;
$firstColorSuc: #a9d400;
$secondColorSuc: #517300;
$firstColorDan: #ff9933;
$secondColorDan: #ff0000;
$firstColorWarn: #ffe0b3;
$secondColorWarn: #e68a00;